.container {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.fieldContainer {
  display: flex;
  flex-direction: row;
  width: 359px;
  border: 1px solid #ccc;
  border-radius: 5px;
  height: 40px;
  overflow: hidden;
}

.selectField {
  width: 80px;
  border-right: 1px solid #ccc;
  background: #fff;
}

.inputField {
  flex-grow: 1;
}

.label {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
}
