.container {
  display: flex;
  width: 359px;
  border: 1px solid #ccc;
  border-radius: 5px;
  height: 40px;
}

.selectField {
  width: 60px;
  border-right: 1px solid #ccc;
}

.inputField {
  flex-grow: 1;
}
