
.subHeading{
    height: 65px;
    font-family: Nunito Sans;
    font-weight: 600;
    font-size: 40px;
    line-height: 54.56px;
    margin-bottom: -1.3%;
}
.heading{
    height: 84.39px;
    font-family: Inter;
    font-weight: 700;
    font-size: 100px;
    line-height: 121.02px;
}