
.subHeading{
    font-family: Nunito Sans;
    font-weight: 600;
    font-size: 40px;
    line-height: 54.56px;
    
}
.heading{
    font-family: Inter;
    font-weight: 700;
    font-size: 100px;
    line-height: 121.02px;
}