.subHeading {
  font-family: Nunito Sans;
  font-size: 40px;
  font-weight: 600;
  line-height: 55px;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: -25px;
  text-transform: uppercase;
}
.heading {
  font-family:Inter;
  font-size: 100px;
  font-weight: 700;
  line-height: 121px;
  letter-spacing: 0em;
  text-align: left;
  text-transform: uppercase;
  color:#4D6581;
}
.headingColor {
  font-family:Inter;
  font-size: 100px;
  font-weight: 700;
  line-height: 121px;
  letter-spacing: 0em;
  text-align: left;
  text-transform: uppercase;
  color:#ffffff;
}
