.clubFields {
  display: flex;
  flex-direction: column;
  gap: 50px;
  &__heading {
    display: flex;
    justify-content: space-between;

    &__viewmore {
      color:#415CE0 ;
      padding-top: 7%;
      font-family: Nunito Sans;
      font-size: 24px;
      font-weight: 600;
      line-height: 20px;
      text-decoration: underline;
    }
  }
  &__cards {
    display: flex;
    gap: 24px;
  }
}
