.hallOfFameCarouselContainer {
  display: flex;
  flex-direction: column;
  height: auto;
  .sliderContainer {
    width: 1750px;
    height: 100%;
    border: 1px solid;
    margin-left: auto;
    .images {
      width: 292px !important;
      height: 336px;
      img {
        width: 292px;
        height: 262px;
      }
    }
  }
  .secondarySlideContainer{
    border: none !important;
    margin-left: 0 !important;
    width: 1920px;

  }
  .coachContent {
    height: 74px;
    background-color: rgb(193, 190, 190);
  }
  .coachName {
    font-size: 20px;
    font-weight: 600;
    padding-top: 6px;
    padding-left: 10px;
  }
  .coachExpertise {
    padding-top: 6px;
    display: flex;
    width: 100%;
    .coachExperience,
    .coachCertificate {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      width: 50%;
      span {
        font-size: 16px;
      }
      img {
        width: 24px;
        height: 24px;
      }
    }
  }
  .slickSlider {
    padding: 20px 0px 20px 30px;
    .slick-arrow {
      width: 60px;
      height: 60px;
    }
    .slick-next {
      top: -50px;
      right: 0px;
      background: url('../../assets/nextSlide.svg') no-repeat;
      &:before{
          content: ''!important;
      }
    }
    .slick-prev {
      top: -50px;
      right: 10px;
      left: 93%;
      background: url('../../assets/previosSlide.svg') no-repeat;
      &:before{
        content: ''!important;
    }
  }
}
  .secondaryCarousel {
    img {
      width: 460px;
      height: 484px;
    }
  }
  .slick-list {
    .slick-track{
      display: flex;
      width: 100%;

    }
    .slick-slide{
      display: flex;
      margin-right: 80px;  
    }

  }
}
