.container {
  display: flex;
  gap: 70px;
  align-items: center;
  justify-content: center;
  background: #909090;
  height: 100px;
  .newsletter {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    .heading {
      color: #fff;
      font-family: "Nunito Sans";
      font-size: 22px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
    }
    .subHeading {
      color: #fff;
      font-family: "Nunito Sans";
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      text-decoration-line: underline;
    }
  }
  .allRights {
    color: #fff;
    font-family: "Nunito Sans";
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
  .emailContainer {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    .email {
      color: #fff;
      font-family: "Nunito Sans";
      font-size: 22px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
    }
  }
  .socialMedia {
    .heading {
      margin-top: -6px;
    }
  }
}
